<form class="form-horizontal" action="#/Career"  >
							  <fieldset>
								<div id="legend">
								  <legend class="">Основная информация </legend>
								</div>
								<div class="control-group">
								  <!-- Username -->
								  <label class="control-label"  for="username">Имя</label>
								  <div class="controls">
									<input type="text" id="username" name="username" placeholder="введите свое настоящее имя" class="input-xlarge">
								 
								  </div>
								</div>
								<div class="control-group">
								  <!-- Username -->
								  <label class="control-label"  for="username">Фамилия</label>
								  <div class="controls">
									<input type="text" id="usersername" name="usersername" placeholder="введите свою настоящюю фамилию" class="input-xlarge">
									 
								  </div>
								</div>
							 
								<div class="control-group">
								  <!-- E-mail -->
								  <label class="control-label" for="email">E-mail</label>
								  <div class="controls">
									<input type="text" id="email" name="email" placeholder="укажите email" class="input-xlarge">
								 
								  </div>
								</div>
							 
								<div class="control-group">
								  <!-- Password-->
								  <label class="control-label" for="password">Пароль</label>
								  <div class="controls">
									<input type="password" id="password" name="password" placeholder="укажите пароль" class="input-xlarge">
								 
								  </div>
								</div>
							 
								<div class="control-group">
								  <!-- Password -->
								  <label class="control-label"  for="password_confirm">Пароль (Повторите)</label>
								  <div class="controls">
									<input type="password" id="password_confirm" name="password_confirm" placeholder="повторите пароль" class="input-xlarge">
									 
								  </div>
								</div>
								
								<div class="control-group">
									 
										  <div class="controls">
											<label class="radio inline" for="radios-0">
											  <input type="radio" name="radios" id="radios-0" value="Мужчина"  >
											  Мужчина
											</label>
											<label class="radio inline" for="radios-1">
											  <input type="radio" name="radios" id="radios-1" value="Женщина">
											  Женщина
											</label>
										  </div>
								</div>
							 
								<div class="control-group">
								  <!-- Button -->
								  <div class="controls">
									<button   class="btn btn-success">Готово</button>
								 
								  </div>
								</div>
								
								 
							  </fieldset>
						</form>
						<hr>				
						<div class="row-fluid">
							<div class="span6 offset1 skills-cloud">
								<span ng-repeat="tag in tagCloud" ng-class="tagClass($index, tag.level)" ng-bind="tag.label"></span>
							</div>
						</div>